html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem ,sans-serif;
    margin: 0;
}
p, ul, ol, h1, h2, h3, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a,abbr{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}

header h1 .material-icons{
    display: none;
    cursor: pointer;
}