.nav{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.nav a:hover {
    background-color: rgb(198, 216, 201);
    color: black;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}

#icon{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 0.9rem;
    margin-left: 1.5rem;
    
}

.software {
    width: 100px;
    height: 100px;
}

main,footer{
    max-width: 120.0rem;
    margin: 5rem auto 1rem;
    background-color: var(--color-main);
    box-shadow: 0 0 1.0rem rgb(43, 161, 122) ;
    padding: 1rem;
}

header h1, section h2{
    line-height: 4.5rem;
    text-align: center;
    color: var(--color-secondary);
    background-color: rgb(6, 136, 125);
    margin-bottom: 2rem;
    font-weight: 300;
    text-shadow: .1rem .1rem 0 var(--color-default-global);
}

header h1{
    margin: 0%;
    margin-bottom: 0.5rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

main ul li{
    display: inline-block;
    width: calc(100% / 4 - 1rem);
    align-items: center;
}
#soft ul li{
    text-align: center;
}
#soft ul li img{
    display: inline-block;
    vertical-align: middle;
}